body{
    background-image: url(./img/pont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0,7;
}

#th{
    text-align: center;
    
}

h1{
   text-align: center;
   color: white;
}